/* CLEAN CSS */
@import "body_reset.css";
/* FONTS */
@import "fonts.css";
/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT */
:root {
    --Ftitle: "gregoniaregular";
    --Ftxt: "helveticaregular";
    --Fbold: "helveticabold";
    --txtcolor1: #ededed;
    --txtcolor2: #383838;
}

/* FIRST MOBILE */
/****************/
/****************/

/* HEADER */
/**********/
header {
    background-image: url("../images/illustrations/Header.png");
    /*TEMP POUR TEST */
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;

}

header img {
    width: 50px;
    height: 50px;
}

/* NAVBAR */

nav {
    /* background: red; */
}

#burger {
    list-style-type: none;
    display: none;
    flex-direction: column;
    background: teal;
    margin: 0;
    padding: 0;
    /*TEMP POUR TEST JS*/
    height: 160px;

}

#burger li {
    background: red;
    width: 100%;
    text-align: center;
    /*TEMP POUR TEST JS*/
    height: 40px;
}